html {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(103, 0, 177), rgba(168, 85, 247, 1));
  border-radius: 0.25rem;
}

html.light {
  background-color: #fff;
  color: #000;
}

html.dark {
  background-color: #1d1d1d;
  color: #fff;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(103, 0, 177);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/*
html.dark .prose-primary {
  --un-prose-body: #8081f0;
  --un-prose-headings: #786afa;
  --un-prose-links: #141430;
  --un-prose-lists: #8285f4;
  --un-prose-hr: #c1c2f9;
  --un-prose-captions: #6366f1;
  --un-prose-code: #141430;
  --un-prose-borders: #898bff;
  --un-prose-bg-soft: #e0e0fc;
  --un-prose-invert-body: #c1c2f9;
  --un-prose-invert-headings: #e0e0fc;
  --un-prose-invert-links: #e0e0fc;
  --un-prose-invert-lists: #6366f1;
  --un-prose-invert-hr: #3b3d91;
  --un-prose-invert-captions: #8285f4;
  --un-prose-invert-code: #e0e0fc;
  --un-prose-invert-borders: #3b3d91;
  --un-prose-invert-bg-soft: #282960;
  --un-prose-font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
} */
